{% extends 'gestion_joueurs/base.html' %}

{% block title %}Statut de la vidéo{% endblock %}

{% block content %}
<h1>Statut de la vidéo pour {{ video.player.name }}</h1>
        <p>Statut: {{ video.status }}</p>
        <p>Deadline: {{ video.deadline }}</p>

        <h2>Historique des Statuts</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Statut</th>
                    <th>Éditeur</th>
                    <th>Date de Changement</th>
                    <th>Commentaire</th>
                </tr>
            </thead>
            <tbody>
                {% for history in video.status_history.all %}
                    <tr>
                        <td>{{ history.status }}</td>
                        <td>{{ video.editor.user.username }}</td>
                        <td>{{ history.changed_at }}</td>
                        <td>{{ history.comment }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{% url 'update_video_status' video.id %}" class="btn btn-warning">Modifier le statut</a>
        <a href="{% url 'dashboard' %}" class="btn btn-secondary">Retour au tableau de bord</a>
{% endblock %}