{% extends 'gestion_joueurs/base.html' %}

{% block title %}Voir les Paiements{% endblock %}

{% block content %}
<h1 class="mb-4 text-center">liste des payements des videos</h1>
{% if payments %}
<table class="table table-striped table-bordered table-hover small-table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Joueur</th>
            <th scope="col">Vidéo</th>
            <th scope="col">Montant</th>
            <th scope="col">Type de Paiement</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        {% for payment in payments %}
        <tr>
            <td>{{ payment.player.name }}</td>
            <td>{{ payment.video }}</td>
            <td>{{ payment.amount }}</td>
            <td>{{ payment.get_payment_type_display }}</td>
            <td>{{ payment.payment_date|date:"d/m/Y" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="alert alert-warning" role="alert">
        Aucun paiement trouvé.
    </div>
{% endif %}
{% endblock %}
